{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <form class="form-{{ layout }}" action="" method="post">
        {% csrf_token %}
        {{ form|as_bootstrap:layout }}

         <div class="control-group">
             <label class="control-label">Options</label>
             <div class="controls">

                 <label class="checkbox">
                     <input id="relex_simple" type="checkbox" name="relex" value="smp" />
                     Show RelEx output in simple format
                 </label>

                 <label class="checkbox">
                     <input id="relex_stanford" type="checkbox" name="relex" value="sfd" />
                     Show RelEx output in Stanford-compatibility mode
                 </label>

                 <label class="checkbox">
                     <input type="checkbox" name="options" value="ct" />
                     Show Phrase Structure tree
                 </label>

                 <label class="checkbox">
                     <input id="relex_opencog" type="checkbox" name="relex" value="ocg" />
                     Show RelEx output in OpenCog Scheme format
                 </label>

                 <label class="checkbox">
                     <input id="relex_logic" type="checkbox" name="relex" value="lgc" />
                     Show RelEx output in OpenCog Logic format
                 </label>

                 <label class="checkbox">
                     <input id="all_links" type="checkbox" name="options" value="al"
                            onchange="show_all_links_click()"
                             />
                     Show all linkages
                 </label>
             </div>
         </div>

        <div class="control-group">
            <label class="control-label" for="id_number_of_linkages_to_show">
                Number of linkages to show
            </label>
            <div class="controls">
                <input id="id_number_of_linkages_to_show"
                       maxlength="3" name="number_of_linkages_to_show"
                       onkeydown="validate_number(event)" type="number"
                       value="5"
                        />
            </div>
        </div>

            <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <script type="text/javascript">
        $("input:radio[name='language']").click(function() {
            var value = $(this).val();
            if(value != 'en')
            {
                $('#relex_simple').attr("disabled", "disabled");
                $('#relex_opencog').attr("disabled", "disabled");
                $('#relex_stanford').attr("disabled", "disabled");
                document.getElementsByName('choose_version')[0].checked = true;
                document.getElementsByName('choose_version')[1].disabled = true;

                $('#relex_simple').removeAttr("checked")
                $('#relex_opencog').removeAttr("checked")
                $('#relex_stanford').removeAttr("checked")
            }
            else
            {
                $('#relex_simple').removeAttr('disabled');
                $('#relex_opencog').removeAttr('disabled');
                $('#relex_stanford').removeAttr('disabled');
                document.getElementsByName('choose_version')[1].disabled = false;
            }
        });
    </script>

{% endblock %}
